/* CSS styling for the website */

/* Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Import font url */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --gold: #DEC127;
    font-size: 16px;
}

/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    border: 0;
    outline: none;
    transition: all .2s linear;
    color: #FFFFFF;
    background: rgba(90, 90, 185, 100%);
}

*::selection{
    background: var(--gold);
    color: #FFFFFF;
}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

/* button */
.navbar .container-fluid .collapse .btn,
.about_content_btn button,
.about_content_btn button:hover,
.portfolio-btn .btn,
.portfolio-btn:hover .btn {
    color: #FFFFFF;
    background-color: #DEC127;
    font-size: 1rem;
    padding: 7px;
    border-radius: 5px;
}

a, a:hover{
    text-decoration: none;
    color: #FFFFFF;
}

/* Navbar styling */
.navbar {
    font-size: 1.2rem;
    padding: 2.5rem 9%
}

/*Navavbar spacing*/
nav.navbar.navbar-expand-lg.navbar-light.fixed-top {
    padding: 1.2rem 9%;
}

/* Brand name styling*/
.navbar .container-fluid .navbar-brand{
    color: #DEC127;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

/*boarder colour of the toggle button for mobile view*/
.navbar .navbar-toggler {
    border-color: #DEC127;
}

/* Navbar list ordering */
.navbar .container-fluid .collapse .navbar-nav {
    display: flex;
    margin: auto;
    gap: 1rem;
}

/* Nav list colour */
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:focus,
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover,
.navbar .container-fluid .collapse .navbar-nav .nav-item .home-colour {
    color: #DEC127;
}

/* home section and About section*/
.home, .about, .contact-me {
    display: flex;
    flex-direction: row;
    padding: 7rem 9%;
    width: 100%;
    /* align-items: center; */
}

.home_img, .about_img {
    max-width: 100%;
    height: auto;
}

.home_img, .home_content, .about_img, .about_content {
    flex: 1;
    padding: 20px;
}

.home_content{
    position: relative;
}

.home_content_name,
.about_content_title,
.portfolio-title,
.contact-me-title {
    font-weight:bolder;
    font-size: 2.5rem;
}

.home_content_name p, .about_content_title p {
    margin: 0;
}

.home_content_title, .about_content_edu_title {
    color: #DEC127;
    font-weight:800;
    font-size: 2rem;
}

.home_content_body, .about_content_text {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.home_content_socials{
    display: flex;
    gap: 20px;
}

.home .girl_img{
    position: relative;
}

/* About section */
.about {
    padding-top: 0;
    align-items: center;
}

.about_content_edu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edu_title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}

.edu_degree {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.about_content_text {
    margin-bottom: 1rem;
}


/* Portfolio section*/

.portfolio {
    padding: 7rem 9%;
    padding-top: 0;
}

.portfolio-title{
    text-align: center;
    padding-bottom: 2rem;
}

.portfolio-img img{
    margin: 0;
    width:auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.portfolio-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 230px;
}

.portfolio p{
    margin: 0;
}

.portfolio-name{
    font-size: 1.2rem;
    font-weight: bold;
}

.portfolio-stack, .portfolio-content{
    font-size: 0.8rem;
    font-weight: 400;
    text-align: justify;   
}

.portfolio-stack{
    font-weight: 600;
}

.slick-slide > div {
    margin: 0 10px;
}

.portfolio-btn {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}


/* Contact Me */
.contact-me{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    align-items: center;
}

.contact-me-title{
    text-align: center;
}

.contact-me-title span{
    color: #DEC127;
}

.contact-me-form{
    width: 400px;
}

.notification {
    color: #DEC127;
    font-weight: bold;
}

form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
        border: 2px solid rgb(222, 193, 39);
    }
}

textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
        border: 2px solid rgb(222, 193, 39);
    }
}

label {
    margin-top: 1rem;
}

input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: rgb(222, 193, 39);
    color: white;
    border: none;
}

/* React icons */
.react-icon {
    background-color: #DEC127;
}


/* Media query */

/* Tablet view */
@media (max-width:988px){
    /*Home page content for Tablet view*/
    .home, .about {
        flex-direction: column-reverse;
        align-items: center;
        padding: 6rem 9%;
        padding-bottom: 4rem;
    }

    .about {
        flex-direction: column;
        padding-top: 0;
    }

    .about .about_img {
        display: flex;
        justify-content: center;
    }

    .home .girl_img{
        position: relative;
    }
    
}

@media (max-width:480px) {
    .about_content_edu{
        flex-direction: column;
        gap: 1rem;
    }
}

/* Large mobile screen */
@media (max-width:430px) {
    /*Navbar for Large mobile screen*/
    .navbar .container-fluid {
        padding: 0;
    }

    /* Home for Large mobile screen */
    .home_content_name,
    .about_content_title,
    .portfolio-title,
    .contact-me-title {
        font-size: 1.9rem;
    }
    
    .home_content_title,
    .about_content_edu_title {
        font-size: 1.7rem;
    }

    .home .home_img .girl_img, .about .about_img img {
        width: 240px;
    }
    .home_img, .home_content, .about_img, .about_content {
        padding: 12px;
    }

    .about_content_btn {
        flex-direction: column;
        gap: 2rem;
    }

    /* Portfolio */
    .portfolio-title{
        padding-bottom: 1rem;
    }

    /*Contact me*/
    .contact-me-form{
        width: 300px;
    }
}

/* Small mobile screen */
@media (max-width:325px) {

    /* Home for small mobile screen */
    .home_content_name,
    .about_content_title,
    .portfolio-title,
    .contact-me-title {
        font-size: 1.7rem;
    }

    .home_content_title {
        font-size: 1.5rem;
    }

    .home_content_body,  .about_content_text .content{
        font-size: 0.8rem;
    }

    .home .home_content .home_content_socials .socials_icon {
        width: 30px;
    }

    /*Portfolio*/
    .portfolio-text{
        width: 220px;
        height: 260px;
    }

    .slick-slide > div {
        margin: 0 0px;
    }

    /*Contact me*/
    .contact-me-form{
        width: 250px;
    }
}
