/* CSS styling for the website */

/* Import font url */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --gold: #DEC127;
    font-size: 16px;
}

/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    border: 0;
    outline: none;
    transition: all .2s linear;
    color: #FFFFFF;
    background: rgba(90, 90, 185, 100%);
    /* background-color: rgb(109, 65, 161); */
}

*::selection{
    background: var(--gold);
    color: #FFFFFF;
}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

/* Navbar styling */

/*boarder colour of the toggle button for mobile view*/
.navbar .navbar-toggler {
    border-color: #DEC127;
}

/* Brand name styling*/
.navbar .container-fluid .navbar-brand{
    font-size: 1.2rem;
    color: #DEC127;
    font-weight: bold;
}

/* navbar btn */
.navbar-toggler:focus {
    box-shadow: 0 0 0 #DEC127;
}

.navbar .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
}
