/* CSS styling for the website */

/* Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Import font url */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --gold: #DEC127;
    font-size: 16px;
}

/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    border: 0;
    outline: none;
    transition: all .2s linear;
    color: #FFFFFF;
    background: rgba(90, 90, 185, 100%);
}

*::selection{
    background: var(--gold);
    color: #FFFFFF;
}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

/* button */
.navbar .container-fluid .collapse button {
    color: #FFFFFF;
    background-color: #DEC127;
    font-size: 1rem;
    padding: 0.7rem;
    border-radius: 100px;
}

/* Navbar styling */
.navbar {
    font-size: 1.2rem;
    padding: 2.5rem 9%
}

/*Navavbar spacing*/
nav.navbar.navbar-expand-lg.navbar-light.fixed-top {
    padding: 1.2rem 9%;
}

/* Brand name styling*/
.navbar .container-fluid .navbar-brand{
    color: #DEC127;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

/*boarder colour of the toggle button for mobile view*/
.navbar .navbar-toggler {
    border-color: #DEC127;
}

/* Navbar list ordering */
.navbar .container-fluid .collapse .navbar-nav {
    display: flex;
    margin: auto;
    gap: 1rem;
}

/* Nav list colour */
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:focus,
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover,
.navbar .container-fluid .collapse .navbar-nav .nav-item .home-colour {
    color: #DEC127;
}


/* home section */
.home {
    display: flex;
    flex-direction: row;
    padding: 7rem 9%;
    width: 100%;
    align-items: center;
}

.home_img, .home_content {
    flex: 1;
    padding: 20px;
}

.home_img {
    max-width: 100%;
    height: auto;
}

.home_content_name {
    font-weight:bolder;
    font-size: 2.5rem;
}

.home_content_name p {
    margin: 0;
}

.home_content_title {
    color: #DEC127;
    font-weight:800;
    font-size: 2rem;
}

.home_content_body {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.home_content_socials{
    display: flex;
    gap: 20px;
}

/* Media query */

/*Home page content*/
@media (max-width:988px){
    .home {
        flex-direction: column-reverse;
        align-items: center;
    }
}
